.Serial{
    width:200px;
    padding: 20px;
    font-size: 22px;
    font-weight: bold;
    background-color: #eee;
    margin: 20px auto 0;
    text-align: center;
    border-radius: 4px;
    height: 66.5px;
}
.genreat{
    background-color: royalblue;
    display: block;
    margin: 20px auto;
    width: fit-content;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    padding: 2px;
}